<?xml version="1.0" encoding="utf-8"?>
<configuration>
	 <configSections>
	 	 <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	 </configSections>

<log4net>
	<appender name="AppLog" type = "log4net.Appender.RollingFileAppender">
		 <file value="LOG\" />
		 <staticLogFileName value="false" />
		 <appendToFile value="true" />
		 <rollingStyle value="Date" />
		 <maxSizeRollBackups value="0" />
		 <maximumFileSize value="15MB" />
		 <datePattern value="yyyy-MM-dd.'Log'" />
		 <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		 <layout type="log4net.Layout.PatternLayout">
		 <footer value = " &#13;&#10;" />
		 <conversionPattern value="%date{dd MMM yyyy} %date{HH:mm:ss,fff} | [%t] | %-5p | %m%n" />
		 </layout>
	</appender>

	<logger name="AppLog">
		 <appender-ref ref="AppLog" />
	</logger>

	<appender name="ErrorLog" type = "log4net.Appender.RollingFileAppender">
		 <file value="LOG\" />
		 <staticLogFileName value="false" />
		 <appendToFile value="true" />
		 <rollingStyle value="Date" />
		 <maxSizeRollBackups value="0" />
		 <maximumFileSize value="15MB" />
		 <datePattern value="yyyy-MM-dd.'Err'" />
		 <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		 <layout type="log4net.Layout.PatternLayout">
		 <footer value = " &#13;&#10;" />
		 <conversionPattern value="%date{dd MMM yyyy} %date{HH:mm:ss,fff} | [%t] | %-5p | %m%n" />
		 </layout>
	</appender>

	<logger name="ErrorLog">
		 <appender-ref ref="ErrorLog" />
	</logger>

	<appender name="RequestLog" type = "log4net.Appender.RollingFileAppender">
		 <file value="LOG\" />
		 <staticLogFileName value="false" />
		 <appendToFile value="true" />
		 <rollingStyle value="Date" />
		 <maxSizeRollBackups value="0" />
		 <maximumFileSize value="15MB" />
		 <datePattern value="yyyy-MM-dd.'Req'" />
		 <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		 <layout type="log4net.Layout.PatternLayout">
		 <footer value = " &#13;&#10;" />
		 <conversionPattern value="%date{dd MMM yyyy} %date{HH:mm:ss,fff} | [%t] | %-5p | %m%n" />
		 </layout>
	</appender>

	<logger name="RequestLog">
		 <appender-ref ref="RequestLog" />
	</logger>

	<appender name="ResponseLog" type = "log4net.Appender.RollingFileAppender">
		 <file value="LOG\" />
		 <staticLogFileName value="false" />
		 <appendToFile value="true" />
		 <rollingStyle value="Date" />
		 <maxSizeRollBackups value="0" />
		 <maximumFileSize value="15MB" />
		 <datePattern value="yyyy-MM-dd.'Rsp'" />
		 <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		 <layout type="log4net.Layout.PatternLayout">
		 <footer value = " &#13;&#10;" />
		 <conversionPattern value="%date{dd MMM yyyy} %date{HH:mm:ss,fff} | [%t] | %-5p | %m%n" />
		 </layout>
	</appender>

	<logger name="ResponseLog">
		 <appender-ref ref="ResponseLog" />
	</logger>

	<appender name="SchedulerLog" type = "log4net.Appender.RollingFileAppender">
		 <file value="LOG\" />
		 <staticLogFileName value="false" />
		 <appendToFile value="true" />
		 <rollingStyle value="Date" />
		 <maxSizeRollBackups value="0" />
		 <maximumFileSize value="15MB" />
		 <datePattern value="yyyy-MM-dd.'Sch'" />
		 <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		 <layout type="log4net.Layout.PatternLayout">
		 <footer value = " &#13;&#10;" />
		 <conversionPattern value="%date{dd MMM yyyy} %date{HH:mm:ss,fff} | [%t] | %-5p | %m%n" />
		 </layout>
	</appender>

	<logger name="SchedulerLog">
		 <appender-ref ref="SchedulerLog" />
	</logger>

	<appender name="UserLog" type = "log4net.Appender.RollingFileAppender">
		 <file value="LOG\" />
		 <staticLogFileName value="false" />
		 <appendToFile value="true" />
		 <rollingStyle value="Date" />
		 <maxSizeRollBackups value="0" />
		 <maximumFileSize value="15MB" />
		 <datePattern value="yyyy-MM-dd.'Usr'" />
		 <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		 <layout type="log4net.Layout.PatternLayout">
		 <footer value = " &#13;&#10;" />
		 <conversionPattern value="%date{dd MMM yyyy} %date{HH:mm:ss,fff} | [%t] | %-5p | %m%n" />
		 </layout>
	</appender>

	<logger name="UserLog">
		 <appender-ref ref="UserLog" />
	</logger>

	<appender name="MsgLog" type = "log4net.Appender.RollingFileAppender">
		 <file value="LOG\" />
		 <staticLogFileName value="false" />
		 <appendToFile value="true" />
		 <rollingStyle value="Date" />
		 <maxSizeRollBackups value="0" />
		 <maximumFileSize value="15MB" />
		 <datePattern value="yyyy-MM-dd.'Msg'" />
		 <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		 <layout type="log4net.Layout.PatternLayout">
		 <footer value = " &#13;&#10;" />
		 <conversionPattern value="%date{dd MMM yyyy} %date{HH:mm:ss,fff} | [%t] | %-5p | %m%n" />
		 </layout>
	</appender>

	<logger name="MsgLog">
		 <appender-ref ref="MsgLog" />
	</logger>

	<appender name="EmailLog" type = "log4net.Appender.RollingFileAppender">
		 <file value="LOG\" />
		 <staticLogFileName value="false" />
		 <appendToFile value="true" />
		 <rollingStyle value="Date" />
		 <maxSizeRollBackups value="0" />
		 <maximumFileSize value="15MB" />
		 <datePattern value="yyyy-MM-dd.'Eml'" />
		 <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		 <layout type="log4net.Layout.PatternLayout">
		 <footer value = " &#13;&#10;" />
		 <conversionPattern value="%date{dd MMM yyyy} %date{HH:mm:ss,fff} | [%t] | %-5p | %m%n" />
		 </layout>
	</appender>

	<logger name="EmailLog">
		 <appender-ref ref="EmailLog" />
	</logger>

	<appender name="AuditLog" type = "log4net.Appender.RollingFileAppender">
		 <file value="LOG\" />
		 <staticLogFileName value="false" />
		 <appendToFile value="true" />
		 <rollingStyle value="Date" />
		 <maxSizeRollBackups value="0" />
		 <maximumFileSize value="15MB" />
		 <datePattern value="yyyy-MM-dd.'Aud'" />
		 <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		 <layout type="log4net.Layout.PatternLayout">
		 <footer value = " &#13;&#10;" />
		 <conversionPattern value="%date{dd MMM yyyy} %date{HH:mm:ss,fff} | [%t] | %-5p | %m%n" />
		 </layout>
	</appender>

	<logger name="AuditLog">
		 <appender-ref ref="AuditLog" />
	</logger>

	<appender name="ChatLog" type = "log4net.Appender.RollingFileAppender">
		 <file value="LOG\" />
		 <staticLogFileName value="false" />
		 <appendToFile value="true" />
		 <rollingStyle value="Date" />
		 <maxSizeRollBackups value="0" />
		 <maximumFileSize value="15MB" />
		 <datePattern value="yyyy-MM-dd.'Cht'" />
		 <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		 <layout type="log4net.Layout.PatternLayout">
		 <footer value = " &#13;&#10;" />
		 <conversionPattern value="%date{dd MMM yyyy} %date{HH:mm:ss,fff} | [%t] | %-5p | %m%n" />
		 </layout>
	</appender>

	<logger name="ChatLog">
		 <appender-ref ref="ChatLog" />
	</logger>

	<appender name="FtpLog" type = "log4net.Appender.RollingFileAppender">
		 <file value="LOG\" />
		 <staticLogFileName value="false" />
		 <appendToFile value="true" />
		 <rollingStyle value="Date" />
		 <maxSizeRollBackups value="0" />
		 <maximumFileSize value="15MB" />
		 <datePattern value="yyyy-MM-dd.'Ftp'" />
		 <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		 <layout type="log4net.Layout.PatternLayout">
		 <footer value = " &#13;&#10;" />
		 <conversionPattern value="%date{dd MMM yyyy} %date{HH:mm:ss,fff} | [%t] | %-5p | %m%n" />
		 </layout>
	</appender>

	<logger name="FtpLog">
		 <appender-ref ref="FtpLog" />
	</logger>

	<appender name="SyncLog" type = "log4net.Appender.RollingFileAppender">
		 <file value="LOG\" />
		 <staticLogFileName value="false" />
		 <appendToFile value="true" />
		 <rollingStyle value="Date" />
		 <maxSizeRollBackups value="0" />
		 <maximumFileSize value="15MB" />
		 <datePattern value="yyyy-MM-dd.'Syn'" />
		 <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		 <layout type="log4net.Layout.PatternLayout">
		 <footer value = " &#13;&#10;" />
		 <conversionPattern value="%date{dd MMM yyyy} %date{HH:mm:ss,fff} | [%t] | %-5p | %m%n" />
		 </layout>
	</appender>

	<logger name="SyncLog">
		 <appender-ref ref="SyncLog" />
	</logger>

	<appender name="PnsLog" type = "log4net.Appender.RollingFileAppender">
		 <file value="LOG\" />
		 <staticLogFileName value="false" />
		 <appendToFile value="true" />
		 <rollingStyle value="Date" />
		 <maxSizeRollBackups value="0" />
		 <maximumFileSize value="15MB" />
		 <datePattern value="yyyy-MM-dd.'Pns'" />
		 <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		 <layout type="log4net.Layout.PatternLayout">
		 <footer value = " &#13;&#10;" />
		 <conversionPattern value="%date{dd MMM yyyy} %date{HH:mm:ss,fff} | [%t] | %-5p | %m%n" />
		 </layout>
	</appender>

	<logger name="PnsLog">
		 <appender-ref ref="PnsLog" />
	</logger>

	<appender name="StatusLog" type = "log4net.Appender.RollingFileAppender">
		 <file value="LOG\" />
		 <staticLogFileName value="false" />
		 <appendToFile value="true" />
		 <rollingStyle value="Date" />
		 <maxSizeRollBackups value="0" />
		 <maximumFileSize value="15MB" />
		 <datePattern value="yyyy-MM-dd.'Sts'" />
		 <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		 <layout type="log4net.Layout.PatternLayout">
		 <footer value = " &#13;&#10;" />
		 <conversionPattern value="%date{dd MMM yyyy} %date{HH:mm:ss,fff} | [%t] | %-5p | %m%n" />
		 </layout>
	</appender>

	<logger name="StatusLog">
		 <appender-ref ref="StatusLog" />
	</logger>

	<appender name="SearchLog" type = "log4net.Appender.RollingFileAppender">
		 <file value="LOG\" />
		 <staticLogFileName value="false" />
		 <appendToFile value="true" />
		 <rollingStyle value="Date" />
		 <maxSizeRollBackups value="0" />
		 <maximumFileSize value="15MB" />
		 <datePattern value="yyyy-MM-dd.'Src'" />
		 <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		 <layout type="log4net.Layout.PatternLayout">
		 <footer value = " &#13;&#10;" />
		 <conversionPattern value="%date{dd MMM yyyy} %date{HH:mm:ss,fff} | [%t] | %-5p | %m%n" />
		 </layout>
	</appender>

	<logger name="SearchLog">
		 <appender-ref ref="SearchLog" />
	</logger>

	<appender name="ImpexLog" type = "log4net.Appender.RollingFileAppender">
		 <file value="LOG\" />
		 <staticLogFileName value="false" />
		 <appendToFile value="true" />
		 <rollingStyle value="Date" />
		 <maxSizeRollBackups value="0" />
		 <maximumFileSize value="15MB" />
		 <datePattern value="yyyy-MM-dd.'Iex'" />
		 <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		 <layout type="log4net.Layout.PatternLayout">
		 <footer value = " &#13;&#10;" />
		 <conversionPattern value="%date{dd MMM yyyy} %date{HH:mm:ss,fff} | [%t] | %-5p | %m%n" />
		 </layout>
	</appender>

	<logger name="ImpexLog">
		 <appender-ref ref="ImpexLog" />
	</logger>

</log4net>
</configuration>

