<?xml version="1.0"?>
<configuration>
  <profile>
    <WCFSERVICE>
      <add key="CORSEnabled" value="0" />
      <add key="HAHSEnabled" value="0" />
      <add key="GDPREnabled" value="0" />
      <add key="OfflineEnabled" value="0" />
      <add key="AVCEnabled" value = "0" />
      <add key="AlphaSIDEnabled" value="0" />
      <add key="ResolvePIP" value="0" />
      <add key="PermitSSC" value="0" />
      <add key="LSEnabled" value="0" />
      <add key="IOTEnabled" value="0" />
      <add key="TraceEnabled" value="0" />
      <add key="LocalhostEnabled" value="0" />
      <add key="TwilioBypassEnabled" value="0" />
      <add key="DeviceTokenEnabled" value="0" />
      <add key="BindingType" value="http" />
      <add key="Instance" value="arms" />
      <add key="ApplicationClient" value="arms" />
      <add key="PrivateIPAddress" value="192.168.1.6" />
      <add key="PublicIPAddress" value="192.168.1.6" />
      <add key="PrivatePort" value="9095" />
      <add key="PublicPort" value="9095" />
      <add key="HTTPTimeout" value="300" />
      <add key="HTTPReadWriteTimeout" value="10000" />
      <add key="HTTPContinueTimeout" value="300" />
      <add key="ApplicationURL" value="http://192.168.1.6:9095/arms/" />
    </WCFSERVICE>
    <WINDOWSSERVICE>
      <add key="ServiceAccountType" value = "0" />
      <add key="Windows Service User Name" value = "" />
      <add key="Windows Service Password" value = "" />
    </WINDOWSSERVICE>
    <FILESERVICE>
      <add key="FileShareUserName" value = "" />
      <add key="FileSharePassword" value = "" />
    </FILESERVICE>
    <MESSAGESERVICE>
      <add key="HubIPAddress" value="192.168.1.6" />
      <add key="HubPort" value="8080" />
      <add key="HubConnectionTimeout" value="100" />
      <add key="HubDisconnectTimeout" value="50" />
      <add key="HubKeepAlive" value="20" />
      <add key="HubLongPollDelay" value="0" />
      <add key="HubDefaultMessageBufferSize" value="1000" />
      <add key="HubMaxScaleoutMappingsPerStream" value="65535" />
      <add key="HubMaxIncomingWebSocketMessageSize" value="65536" />
      <add key="HubScaleout" value="0" />
      <add key="BackplaneDB" value="" />
    </MESSAGESERVICE>
    <PROXY>
      <add key="ProxyAddress" value="" />
      <add key="ProxyPort" value="0" />
      <add key="ProxyUserName" value="" />
      <add key="ProxyPassword" value="" />
    </PROXY>
    <DATABASE>
      <add key="Data Source" value="172.16.11.77\DEV" />
      <add key="Initial Catalog" value="LAINGDevelopment" />
      <add key="User ID" value="arms" />
      <add key="Password" value="roti1234" />
      <add key="Minimum Pool Size" value="1" />
      <add key="Maximum Pool Size" value="32767" />
      <add key="Increment Pool Size" value="100" />
      <add key="Decrement Pool Size" value="5" />
      <add key="Query Timeout" value="3000" />
      <add key="Connection Timeout" value="1000" />
      <add key="Persist Security Info" value="true" />
      <add key="Connection Retry Count" value="10" />
      <add key="Connection Retry Interval" value="10" />
      <add key="Load Balancer Timeout" value="0" />
      <add key="Failover Cluster" value="" />
      <add key="Multi Subnet Failover" value="" />
      <add key="Authentication Type" value="1" />
      <add key="Network Library" value="-1" />
      <add key="DBSharedSchema" value="shr" />
    </DATABASE>
    <CRONJOBS>
      <add key="Enable MSMQ" value="true" />
      <add key="MSMQ Interval" value="15" />
      <add key="Enable SMTP" value="true" />
      <add key="SMTP Interval" value="15" />
      <add key="Enable POP" value="true" />
      <add key="POP Interval" value="30" />
      <add key="Enable GC" value="true" />
      <add key="GC Interval" value="30" />
      <add key="Impex Interval" value="60" />
      <add key="Audit Save Interval" value="0" />
      <add key="Telemetry Interval" value="5" />
      <add key="User Scavenger Interval" value="5" />
      <add key="Scheduled Emails Interval" value="0" />
      <add key="DB Backup" value="00:30" />
      <add key="Log Backup" value="17:30" />
      <add key="EOD Time" value="00:01" />
      <add key="Impex Stale File Timeout" value="10" />
      <add key="Archive Sleep Delay Timeout" value="100" />
      <add key="Telemetry Interval" value="5" />
      <add key="ActiveEmailNode" value="1" />
      <add key="DataCrawler Interval" value="10" />
      <add key="Crawler Timeout" value="100" />
    </CRONJOBS>
    <SECURITY>
      <add key="CertificateDomain" value="" />
      <add key="CertificatePassword" value="" />
      <add key="CertificateThumbprint" value="" />
    </SECURITY>
    <PNS>
      <add key="iOSPNSCertificate" value="AOMEnterprise.p12" />
      <add key="iOSPNSUrl" value="gateway.push.apple.com" />
      <add key="iOSPNSPort" value="2195" />
      <add key="AndroidPNSUrl" value="https://fcm.googleapis.com/fcm/send" />
      <add key="AndroidPNSPort" value="443" />
      <add key="FirebaseServerKey" value="" />
      <add key="FirebaseSenderID" value="" />
    </PNS>
    <LDAP>
      <add key="LDAP Url" value="" />
      <add key="LDAP Domain" value="AzureAD" />
      <add key="LDAP User Name" value="" />
      <add key="LDAP Password" value="" />
    </LDAP>
    <OTP>
      <add key="GA OTP Digits" value="6" />
      <add key="GA OTP Timeout" value="90" />
      <add key="SMS OTP Digits" value="4" />
      <add key="SMS OTP Timeout" value="300" />
      <add key="Email OTP Digits" value="4" />
      <add key="Email OTP Timeout" value="300" />
    </OTP>
    <SPM>
      <add key="Max Service Points" value="1000" />
      <add key="Max Service Point Idle Time" value="10000" />
      <add key="Connection Limit" value="2147483647" />
      <add key="DNS Refresh Timeout" value="-1" />
    </SPM>
    <FILEWATCHER>
      <add key="FileWatcherPath" value="" />
      <add key="FileWatcherFilter" value="*.*" />
      <add key="FileWatcherTimeout" value="30" />
    </FILEWATCHER>
    <SINGPASS>
      <add key="PrivateKeyFilename" value="" />
      <add key="PrivateKeyPassword" value="" />
      <add key="PublicCertificateFilename" value="" />
      <add key="ClientId" value="" />
      <add key="ClientSecret" value="" />
      <add key="AttributeCsv" value="" />
      <add key="Environment" value="" />
      <add key="AuthoriseUrl" value="" />
      <add key="TokenUrl" value="" />
      <add key="PersonUrl" value="" />
      <add key="Purpose" value="" />
    </SINGPASS>
    <ARCHIVEFTP>
      <add key="Archive FTP URL" value="" />
      <add key="Archive FTP Path" value="" />      
      <add key="Archive FTP UserName" value="" />
      <add key="Archive FTP User Password" value="" />
      <add key="Archive FTP Certificate Path" value="" />
      <add key="Archive FTP Certificate Password" value="" />
      <add key="Archive FTP Port" value="" />
    </ARCHIVEFTP>
    <APPLICATIONRULES>
      <add key="NASPath" value="" />
      <add key="Server Role" value="1" />
    </APPLICATIONRULES>
    <APPLICATION>
      <add key="Server Role" value="0" />
      <add key="SecurityModel" value="0" />
      <add key="PDOTP" value="1111" />
      <add key="WebSessionsPerUser" value="2" />
      <add key="MobileSessionsPerUser" value="1" />
      <add key="DesktopSessionsPerUser" value="1" />
      <add key="UserInactivityInterval" value="30" />
      <add key="ApplicationServices" value="8191" />
      <add key="ApplicationCRONServices" value="8191" />
      <add key="ApplicationFormStyle" value="2" />
      <add key="ApplicationRibbonStyle" value="5" />
      <add key="NotificationEmail" value="3" />
      <add key="LogReportingTo" value="swd@laminaar.com.sg" />
      <add key="GPGExePath" value="C:\Program Files (x86)\GnuPG\gpg.exe" />
      <add key="GPGArguments" value=" -i " />
    </APPLICATION>
    <PEERSERVER>
    </PEERSERVER>
  </profile>
  <configSections>
    <SectionGroup name="profile">
      <Section name="WCFSERVICE" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <Section name="MESSAGESERVICE" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <Section name="PROXY" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <Section name="DATABASE" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <Section name="CRONJOBS" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <Section name="SECURITY" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <Section name="PNS" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <Section name="LDAP" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <Section name="OTP" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <Section name="SPM" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <Section name="SINGPASS" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <Section name="ARCHIVEFTP" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <Section name="PEERSERVER" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <Section name="APPLICATIONRULES" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <Section name="APPLICATION" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </SectionGroup>
  </configSections>
</configuration>